<div id="preface">
    Reach your customers with real-time price options
</div>

<div id="content" class="tabbed columns">
    <div class="top-rounder"></div>
    <div class="columns">
        <div class="column side">

            <ul class="tabs">
                <li><%= link_to "Company", company_path %></li>
                <li class="current"><%= link_to "About Us", about_path %></li>
                <li><%= link_to "Team", team_path %></li>
                <li><%= link_to "Blog", "http://dealkat.posterous.com/", :target => "_new" %></li>
                <li><%= link_to "Contact Us", contact_path %></li>
            </ul>

        </div><!-- .column.side -->
        <div class="column wide">

        </div><!-- .column.wide -->
        <br class="clearer">
    </div><!-- .columns -->
    <div class="bottom-rounder"></div>
</div><!-- #content -->
